# 📙 Operadores en Python

## Tabla de Contenido

- [1 - Operadores Lógicos](#1)
- [2 - Operadores Aritméticos](#2)
- [3 - Operadores Relacionales](#3)
- [4 - Operadores de Asignación](#4)
- [5 - Jerarquia de Operadores](#5)
- [6 - Ejercicio](#6)

<a name='1'></a>
## Operadores Lógicos

Operador AND (`and`)

<img src="https://aristoteles2pc.files.wordpress.com/2011/03/tabla-de-verdad.png?w=225&h=300" height=225>

In [1]:
# 0 = False, 1 = True
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

Operador OR (`or`)

<img src="https://aristoteles2pc.files.wordpress.com/2011/03/or1.png?w=228&h=300" height=225>

In [2]:
print(False or False)
print(False or True)
print(False or True)
print(True or True)

False
True
True
True

Operador Negación o NOT (`not`)

<img src="https://aristoteles2pc.files.wordpress.com/2011/03/not1.png" height=180>

In [4]:
print(not False)
print(not True)

True
False

Operador XOR (`^`)

<img src="https://i.stack.imgur.com/Q7U6I.png" height=150>

In [5]:
print(False ^ False)
print(False ^ True)
print(True ^ False)
print(True ^ True)

False
True
True
False

<a name='2'></a>
## Operadores Aritméticos

<table>
<thead>
<tr>
<th style="text-align:center">Operador</th>
<th style="text-align:center">Descripción</th>
<th style="text-align:center">Uso</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">+</td>
<td style="text-align:center">Realiza Adición entre los operandos</td>
<td style="text-align:center">12 + 3 = 15</td>
</tr>
<tr>
<td style="text-align:center">-</td>
<td style="text-align:center">Realiza Substracción entre los operandos</td>
<td style="text-align:center">12 - 3 = 9</td>
</tr>
<tr>
<td style="text-align:center">*</td>
<td style="text-align:center">Realiza Multiplicación entre los operandos</td>
<td style="text-align:center">12 * 3 = 36</td>
</tr>
<tr>
<td style="text-align:center">/</td>
<td style="text-align:center">Realiza División entre los operandos</td>
<td style="text-align:center">12 / 3 = 4</td>
</tr>
<tr>
<td style="text-align:center">%</td>
<td style="text-align:center">Realiza un módulo entre los operandos</td>
<td style="text-align:center">16 % 3 = 1</td>
</tr>
<tr>
<td style="text-align:center">**</td>
<td style="text-align:center">Realiza la potencia de los operandos</td>
<td style="text-align:center">12 ** 3 = 1728</td>
</tr>
<tr>
<td style="text-align:center">//</td>
<td style="text-align:center">Realiza la división con resultado de número entero</td>
<td style="text-align:center">18 // 5 = 3</td>
</tr>
</tbody>
</table>

In [19]:
a = 2
b = 6

In [20]:
# Tipo de dato 'a'
print(type(a))

# Tipo de dato 'b'
print(type(b))

<class 'int'>
<class 'int'>

In [21]:
print(a + b)
print(a - b)
print(a * b)
print(b ** 2)
print(a / b)
print(a // b)
print(a % b)

8
-4
12
36
0.3333333333333333
0
2

In [22]:
c = a//b
print(c)

# Tipo de variable 'c'
print(type(c))

0
<class 'int'>

In [23]:
a = 6
b = 2
c = 2.

In [24]:
# Tipo de variable 'a'
print(type(a))

# Tipo de variable 'b'
print(type(b))

# Tipo de variable 'c'
print(type(c))

<class 'int'>
<class 'int'>
<class 'float'>

In [26]:
operacion_a = a/b

operacion_b = a/c

print(operacion_a)
# Tipo de dato 'operacion_a'
print(type(operacion_a))

print(operacion_b)
# Tipo de dato 'operacion_b'
print(type(operacion_b))

3.0
<class 'float'>
3.0
<class 'float'>

In [27]:
operacion_A = a//b

operacion_B = a//c

print(operacion_A)
# Tipo de dato 'operacion_A'
print(type(operacion_A))

print(operacion_B)
# Tipo de dato 'operacion_B'
print(type(operacion_B))

3
<class 'int'>
3.0
<class 'float'>

<a name='3'></a>
## Operadores Relacionales

![image.png]()

In [30]:
num_1 = 2
num_2 = 5
num_3 = 2.0001
num_4 = 2
letra_E = 'E'
letra_e = 'e'

In [31]:
# Tipo de dato 'num_1'
print(type(num_1))

# Tipo de dato 'num_2'
print(type(num_2))

# Tipo de dato 'num_3'
print(type(num_3))

# Tipo de dato 'num_4'
print(type(num_4))

# Tipo de dato 'letra_E'
print(type(letra_E))

# Tipo de dato 'letra_e'
print(type(letra_e))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>

In [32]:
# 2 es mayor que 5?
print(num_1 > num_2)

False

In [33]:
# 2 es menor que 5?
print(num_1 < num_2)

True

In [34]:
# 2 es mayor o igual que 5?
print(num_1 >= num_2)

False

In [35]:
# 2 es menor o igual que 5?
print(num_1 <= num_2)

# 2 es menor o igual que 2?
print(num_1 <= num_4)

True
True

In [36]:
# 2 es igual a 2.0001?
print(num_1 == num_3)

False

In [37]:
# 2 es diferente a 2.0001?
print(num_1 != num_3)

True

In [38]:
# la letra 'E' es diferente a la letra 'e'?
print(letra_E != letra_e);

True

<a name='4'></a>
## Operadores de Asignación

<table>
<thead>
<tr>
<th style="text-align:center">Operador</th>
<th style="text-align:center">Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">=</td>
<td style="text-align:center">a = 5. El valor 5 es asignado a la variable a</td>
</tr>
<tr>
<td style="text-align:center">+=</td>
<td style="text-align:center">a += 5 es equivalente a a = a + 5</td>
</tr>
<tr>
<td style="text-align:center">-=</td>
<td style="text-align:center">a -= 5 es equivalente a a = a - 5</td>
</tr>
<tr>
<td style="text-align:center">*=</td>
<td style="text-align:center">a *= 3 es equivalente a a = a * 3</td>
</tr>
<tr>
<td style="text-align:center">/=</td>
<td style="text-align:center">a /= 3 es equivalente a a = a / 3</td>
</tr>
<tr>
<td style="text-align:center">%=</td>
<td style="text-align:center">a %= 3 es equivalente a a = a % 3</td>
</tr>
<tr>
<td style="text-align:center">**=</td>
<td style="text-align:center">a **= 3 es equivalente a a = a ** 3</td>
</tr>
<tr>
<td style="text-align:center">//=</td>
<td style="text-align:center">a //= 3 es equivalente a a = a // 3</td>
</tr>
</tbody>
</table>

In [39]:
var3 = 2
var3 += 3
print(var3)

var3 = 2
var3 -= 10
print(var3)

var3 = 2
var3 *= 2
print(var3)

var3 = 2
var3 **= 4
print(var3)

var3 = 2
var3 /= 2
print(var3)

var3 = 2
var3 //= 1.5
print(var3)

var3 = 2
var3 %= 1
print(var3)

5
-8
4
16
1.0
1.0
0

<a name='5'></a>
## Jerarquia de Operadores

| Jerarquia |
|-------------------|
| Paréntesis `( )` |
| Exponente `**`|
| División (`/`) y Módulo (`%`) |
| Multiplicación (`*`) |
| Suma (`+`) y Resta (`-`) |
| Operadores Relacionales (`>`, `<`, `>=`, `<=`, `==`, `!=`) |
| Negación (`not`) |
| Conjunción (`and`) |
| Disyunción inclusiva (`or`) |
| Operadores de Asignación |

*Para más información sobre prioridad de operadores en Python visite este [enlace](https://interactivechaos.com/es/manual/tutorial-de-python/precedencia-de-operadores)*

In [40]:
print( 5 ** (2 * 3) + 3 )

15628

In [41]:
print( 5 % 2 * 3 + 3 )

6

In [42]:
print( 5 % (2 * 3) + 3 )

8

In [43]:
a = -5
b = 3
c = 2

print( a / b * a / c > b - a * c )

False

In [44]:
a = 10
b = 7
c = -1

print( a %  b + c * a > 3 or c * c < 5 )

True

<a name='6'></a>
## Ejercicio

Realice una impresión de una factura que muestre:
* El precio individual de una hamburguesa (5 dolares)
* El precio invididual de una gaseosa (2 dolares)
* El precio del menú con hamburguesa, gaseosa y papas cuyo costo es de 10 dolares
* El precio total sin IVA
* El precio total con IVA del 8%